* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay hitam transparan */
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white
}

.banner-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-box input {
  width: 450px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.search-box button {
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  background-color: #007bff; /* Sesuaikan warna */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #014894fd; /* Warna saat hover */
}

.konten {
}

.text1 h1 {
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
}

.text1 h3 {
  margin-top: 25px;
  text-align: right;
}



.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  width: 400px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.card h2 {
  font-weight: bold;
  font-size: 20px;
  color: black
}

.card p {
  padding-top: 10px;
  margin: 0;
  font-size: 13px;
  color: rgb(92, 91, 91);
}


/* ----------------------------------------FOOTER--------------------------------- *